# Exclude all.

*

# Except GitHub workflow

!.github/
!.github/**/
!.github/**/*.yml

# Except main hungarian_loss modules

!hungarian_loss/
!hungarian_loss/**/
!hungarian_loss/**/*.py

# Except test hungarian_loss modules

!tests/
!tests/**/
!tests/**/*.py

# Except main artifacts

!helper.sh
!LICENSE
!main.py
!setup.py
!README.md
!CONTRIBUTING.md
!requirements.txt
!pytest.ini